<nav class="text-center">
    <ul class="pagination" ng-if="pagination.pageCount > 1">

        <li class="prevPage" ng-class="{'disabled': pagination.current === 1}" ng-click="pagination.prevPage()">
            <span class="cur">«</span>
        </li>

        <li ng-class="{'active': pagination.current === 1}">
            <span class="cur" ng-click="pagination.changeClick(1)">1</span>
        </li>

        <li ng-if="pagination.current-2 > 2 && pagination.current <= pagination.pageCount && pagination.pageCount > 5">
            <span>...</span>
        </li>

        <li ng-repeat="item in pagination.pageArr | limitTo:5 track by $index" ng-class="{'active': pagination.current === item}"
            ng-if="item != 1 && item !=  pagination.pageCount">
            <span ng-bind="item" ng-if="pagination.current === item"></span>
            <span class="cur" ng-bind="item" ng-click="pagination.changeClick(item)" ng-if="pagination.current !== item"></span>
        </li>

        <li ng-if="pagination.current + 2 < pagination.pageCount - 1 && pagination.current >= 1 && pagination.pageCount > 5">
            <span>...</span>
        </li>

        <li ng-class="{'active': pagination.current === pagination.pageCount}">
            <span class="cur" ng-click="pagination.changeClick(pagination.pageCount)" ng-bind="pagination.pageCount"></span>
        </li>

        <li class="nextPage" ng-class="{'disabled': pagination.current === pagination.pageCount}" ng-click="pagination.nextPage()">
            <span class="cur">»</span>
        <li>

    </ul>
</nav>