<p>Welcome to <b ng-bind="home.page"></b></p>
<input type="text" ng-model="home.page">
<h2>遍历列表 ---------------</h2>
<div ng-repeat="item in home.userList track by $index">
	<span ng-bind="item.name"></span> <span ng-bind="item.email"></span>
</div>
<h3>遍历列表 ---------------</h3>
<div dirv>
	-- 指令内人体 ---
</div>
<script type="text/ng-template" id="dirv.html">
    <div>
        指令{{home.page}}
        <input type="text" ng-model="home.page">
        <div>
        	<span ng-transclude></span>
        </div>
    </div>
</script>
