/* 颜色设置 */
$color-01:#010101;
$color-0:#000;
$color-3:#333;
$color-5:#555;
$color-6:#666;
$color-8:#888;
$color-9:#999;
$color-C:#CCC;
$color-D:#DDD;
$color-E:#EEE;
$color-F1:#F1F1F1;
$color-F3:#F3F3F3;
$color-F5:#F5F5F5;
$color-F8:#F8F8F8;
$color-C8:#c8c8c8;
$color-F:#FFF;
$color-red:#c62f2f;
$color-red1:#ED242C;
$color-red2:#a94442;
$color-blue:#4a79cc;
$color-blue1:#4a79cc;
$color-blue2:#37a0e6;
$color-blue3:#0092c8;
$color-blue4:#055797;

$color-strong1: #242a36;
$color-strong2: #055797;
$color-strong3: #1a82d2;

$color-normal1: #343434;
$color-normal2: #888;
$color-normal3: #c8c8c8;

$color-weaker1: #e6e7ea;

